# distribution
*.zip
*.tgz

# config, changelog and update files
.config
.updated.log
changelog.txt

# temporary folder
tmp*
log*

# backup files
*~
*bak

# built modules to generate patches
diff_tools/built/*
